@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* Take away any added width if we use padding. A 'reset', if you will... */
* {
  box-sizing: border-box;
}

body {
  background-color: #242333;
  color: #fff;
  /* More centering everything */
  display: flex;
  flex-direction: column;
  /* Centers horizontally */
  align-items: center;
  /* Centers vertically */
  justify-content: center;
  /* Takes up the whole viewport */
  height: 100vh;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  /* Need this so the padding is in effect on select */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.seat {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 3px;
}
